@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --body-color: #FAD038;
    --laranja: #FF740A;
    --laranja-claro: #FF9F30;
    --laranja-medio: #FF951C;
    --avermelhado: #FF5630;
    --fonte-color: #191919;

    --branco: #FAFAFA;

    --fonte-body: 'Poppins'
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html {
    font-family: var(--fonte-body);
    scroll-behavior: smooth;
}

body {
    background-image: url("background.png");
    background-size: 100%;
    background-repeat: repeat;
}

.nav {
    background-color: var(--laranja-claro);
    width: 100%;
    padding: 0.5rem;
    text-align: center;
}

.nav_img {
    text-align: center;
    width: 124px;
}

.container {
    text-align: center;
}

.h1_text {
    margin-top: 6rem;
    font-size: 2.75rem;
    color: var(--laranja);
}

.p_text {
    margin-top: 1rem;
    color: var(--branco);
}


.btn-hover {
    width: 200px;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    color: var(--branco);
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover, .opcaoBijuu:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover.color, .opcaoBijuu.color {
    background-image: linear-gradient(to right, var(--laranja), var(--laranja-claro), var(--laranja-medio), var(--laranja));
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

#bijuucard {
    text-align: center;
}

#card {
    background-color: var(--laranja-medio);
    padding: 0.75rem;
    margin: 0 auto;
    width: 350px;
    border-radius: 0.75rem;
}

.imagemBijuu {
    width: 300px;
}

.pergunta {
    color: var(--branco);
    font-size: 1.25rem;
}

.opcaoBijuu {
    margin: 1.5rem;
    color: var(--branco);
    padding: 1rem;
    width: 150px;
    border-radius: 50px;
    font-size: 1.25rem;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#opcoes {
    margin: 0 auto;
}
  
/* card flip */
  .card-block {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
  }
  
  /* efeito card */
  .card_container {
    perspective: 700px;
    overflow-y: hidden;
  }
  
  .card_flip {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;
    border: none;
  }
  
  .card_flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    border: none;
  }
  
  .card_flip .front {
    z-index: 1;
  }
  
  .card_flip .back {
    position: relative;
    z-index: 0;
    transform: rotateY(-180deg);
  }
  
  .back {
    display: block;
    text-align: center;
  }
  
  .card_container:hover .card_flip {
    transform: rotateY(180deg);
  }
  

@media screen and (max-width: 767px) {
    .h1_text {
        font-size: 1.5rem;
    }
    .p_text, .pergunta {
        font-size: 0.75rem;
    }
    #card {
        width: 275px;
    }
    .imagemBijuu {
        width: 225px
    }
    .opcaoBijuu {
        margin: 1.25rem 0.75rem 0 0.75rem;
        font-size: 0.75rem;
        width: 124px;
    }
}